body {
  font-family: "Poppins", sans-serif;
}
.frame .text-wrapper,
.frame .text-wrapper-2 {
  font-family: "Poppins", sans-serif;
}

.frame {
  background-color: #070613;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #070613;
  width: 1920px;
  height: 4052px;
  position: relative;
}

.frame .div-2 {
  display: flex;
  width: 929px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 317px;
  left: 495px;
}

.frame .images-grid {
  position: relative;
  width: 299px;
  height: 392px;
  border-radius: 12px;
  background-image: url(./img/z611946-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .images-grid-2 {
  background-image: url(./img/jjm53819-1.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 299px;
  height: 392px;
  border-radius: 12px;
}

.frame .images-grid-3 {
  background-image: url(./img/chain-pagea-1.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 299px;
  height: 392px;
  border-radius: 12px;
}

.frame .div-3 {
  display: flex;
  width: 929px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 725px;
  left: 495px;
}

.frame .images-grid-4 {
  background-image: url(./img/yimgp2792-1.png);
  background-size: 100% 100%;
  position: relative;
  width: 299px;
  height: 392px;
  border-radius: 12px;
}

.frame .tarjeta-wrapper {
  overflow: hidden;
  position: relative;
  width: 299px;
  height: 392px;
  border-radius: 12px;
}

.frame .tarjeta {
  position: absolute;
  width: 298px;
  height: 392px;
  top: 0;
  left: 1px;
  object-fit: cover;
}

.frame .images-grid-5 {
  background-image: url(./img/r0000978466-v2-1.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 299px;
  height: 392px;
  border-radius: 12px;
}

.frame .nav-bar {
  margin-top: 32px;
  display: flex;
  width: 1440px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 260px;
  position: fixed; /* Changed from absolute to fixed */
  top: 0; /* Adjusted to fix the navbar at the top */
  left: 50%; /* Center the navbar horizontally */
  transform: translateX(-50%); /* Adjust the navbar to center */
  background-color: #01011896;
  border-radius: 14px;
  border: 1px solid;
  border-color: #d8d8d845;
  box-shadow: 0px 0px 18.8px #5c00b880;
  backdrop-filter: blur(23.8px) brightness(100%);
  -webkit-backdrop-filter: blur(23.8px) brightness(100%);
  z-index: 1000; /* Ensures the navbar stays on top of other content */
}

.frame .div-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
}

.frame .LOGO {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .navbar {
  display: inline-flex;
  align-items: center;
  gap: 36px;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-wrapper {
  display: flex;
  width: 89px;
  height: 27px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 9px 29px;
  position: relative;
  background-color: #ab3300;
  border-radius: 6px;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -3.5px;
  margin-bottom: -1.5px;
  margin-left: -7.5px;
  margin-right: -7.5px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
